.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

body {
  background-color: rgb(233, 233, 233);
}

.red-header {
  text-align: center;
  color: whitesmoke;
  background: linear-gradient(
    180deg,
    rgba(188, 32, 41, 1) 0%,
    rgba(149, 31, 36, 1) 100%
  );
  font-size: 30px;
  margin-bottom: 0;
  padding: 3px;
}
