/* .history-header {
  text-align: center;
  color: whitesmoke;
  background: linear-gradient(
    180deg,
    rgba(188, 32, 41, 1) 0%,
    rgba(149, 31, 36, 1) 100%
  );
  font-size: 30px;
  margin-bottom: 0;
} */

.history-items {
  border-left: none;
  border-right: none;
  border-top: none;
}

/* .limit {
  max-height: 10px;
} */
