.banner {
  /* background: linear-gradient(
    180deg,
    rgba(188, 32, 41, 1) 0%,
    rgba(149, 31, 36, 1) 100%
  ); */
  /* 
  background: rgb(117, 104, 104); */
  /* background-color: #ae0000; */
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.col > h5 {
  font-size: 15px;
  font-weight: bold;
}

.col > p {
  font-size: 13px;
}

.col {
  align-items: center;
  text-align: center;
}

.col > h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

@media screen and (max-width: 500px) {
  .col > h5 {
    font-size: 10px;
    font-weight: bold;
  }

  .col > h3 {
    font-size: 15px;
    font-weight: bold;
    padding: 0px;
  }

  .col > p {
    font-size: 9px;
  }
}
